{% extends 'admin_base.html' %}
{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block content %}
    <h1>店舗一覧</h1>

    <!-- 店舗名検索 -->
    <form method="get">
        <label for="store_name">検索:</label>
        <input type="text" name="store_name" id="store_name" value="{{ store_name }}">
        <button type="submit">検索</button>
    </form>

    <!-- カテゴリ検索 -->
    <form method="get">
        <label for="category">カテゴリ検索:</label>
        <select name="category" id="category">
            {% for category in categorys %}
                <option value="{{ category.id }}" {% if select_category == "{{ category.id }}" %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">検索</button>
    </form>

    <!-- ソート -->
    <form method="get" >
        <!-- フィルタリングパラメータを保持 -->
        <div>
            {% if 'top_query' in request.get_full_path %}
                <input type="hidden" name="top_query" value="{{ top_query }}">
            {% endif %}
            {% if 'store_name' in request.get_full_path %}
                <input type="hidden" name="store_name" value="{{ store_name }}">
            {% endif %}

            <!-- うまくいっていない -->
            <!-- {% if 'category' in request.get_full_path %}
                <input type="hidden" name="{{ category.id }}" value="{{ category }}">
            {% endif %} -->
        </div>

        <label for="sort_by">ソート:</label>
        <select name="sort_by" id="sort_by">
            <option value="name" {% if sort_by == "name" %}selected{% endif %}>名前（昇順）</option>
            <option value="-name" {% if sort_by == "-name" %}selected{% endif %}>名前（降順）</option>
            <option value="budget" {% if sort_by == "budget" %}selected{% endif %}> 予算金額が安い順</option>
            <option value="-budget" {% if sort_by == "-budget" %}selected{% endif %}>予算金額が高い順</option>
        </select>
        <button type="submit">ソート</button>
    </form>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>店舗名</th>
                <th>住所</th>
                <th>営業時間</th>
                <th>予算目安</th>
                <th>連絡先</th>
                <th>店舗画像</th>
            </tr>
        </thead>
        {% for store in store_list %}
        <tr>
            <td>{{ store.name }}</td>
            <td>{{ store.adress }}</td>
            <td>{{ store.opening_hours }}〜{{ store.close_hours }}</td>
            <td>{{ store.budget }}円</td>
            <td>{{ store.tel }}</td>
            {% if store.image %}
                <td><img src="{{ store.image.url }}" style="width:100px; height:auto;"></td>
            {% endif %}
            <td><a href="{% url 'tabelog:admin-store-detail' store.pk %}">詳細</a></td>
        </tr>
        {% endfor %}
    </table>
    {# ページの表示 #}
    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} ページ<br>

    {# 前へ #}
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; 先頭</a>
    <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
    {% endif %}

    {# 次へ #}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">次へ</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">最後 &raquo;</a>
    {% endif %}
    <a href="{% url 'tabelog:admin-home' %}">戻る</a>
    {% endblock %}
</body>
</html>