{% extends 'admin_base.html' %}
{% load bootstrap %}
{% load static %}

{% block content %}
    <h1 class="center">店舗情報の削除</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="card" style="width: 30rem;">
            {% if store.image %}
                <img src="{{ store.image.url }}" class="card-img-top" style="width:100px; height:auto;">
            {% endif %}
            <div class="card-body">
                <h3 class="card-title text-danger">削除してよろしいですか？</h3><br>
                <p class="card-text">店舗名：{{ store.name }}</p>
                <p class="card-text">住所：{{ store.adress }}</p>
                <p class="card-text">営業時間：{{ store.opening_hours }}〜{{ store.close_hours }}</p>
                <p class="card-text">予算目安：{{ store.budget }}円</p>
                <p class="card-text">連絡先：{{ store.tel }}</p>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-danger">はい</button>
        <a href="javascript:history.back()" class="text-secondary">戻る</a>
    </form>
{% endblock %}