{% extends 'admin_base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}管理者メニュー{% endblock %}

{% block content %}
    <h1>管理者メニュー</h1>
    <div class="ms-3 mt-5">
        <button onclick="location.href='{% url 'tabelog:admin-user-list' %}'" class="btn btn-primary ms-3">会員一覧</button>
        <button onclick="location.href='{% url 'tabelog:admin-store-list' %}'" class="btn btn-primary ms-3">店舗一覧</button>
        <button onclick="location.href='{% url 'tabelog:admin-category-list' %}'" class="btn btn-primary ms-3">カテゴリ一覧</button>
    </div>
{% endblock %}